<%- include('partials/header') %>
  <h3>Welcome! Bienvenue! Bienvenidos!</h3>
  <p>Here, you will find information for your flight and flight details, along with making changes to your scheduling.
  </p>
  <h4>Safe traveling!</h4>
  <%- include('partials/footer') %>